.button-link {
  min-width: 244px;
  min-height: 40px;
  display: inline-grid;
  place-items: center;
  text-align: center;

  &:hover {
    background-color: $button-status;
  }

  &:active {
    color: lighten($main-light, 30%);
  }
}