.data-list {
  @include list-reset;

  display: flex;
  flex-direction: column;
}

.data-list__item {
  &:not(:last-child) {
    margin-bottom: 13px;
  }

  display: flex;
  gap: 13px;
  align-items: center;
}

.data-list__label {
  font-family: $second-font;
  font-size: 16px;
  text-transform: uppercase;
  color: $text-dark;
  white-space: nowrap;
}

.data-list__input-box {
  width: 100%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 16px;
    right: 14px;
    z-index: 2;
  }
}

.data-list__input-box--email {
  &::before {
    width: 18px;
    height: 14px;
    mask-image: url("../../icons/stack.svg#email");
    background-color: $main-dark;
  }

  &:focus-within::before {
    background-color: $button-basic;
  }

  &:invalid::before {
    background-color: #ff8282;
  }
}

.data-list__input-box--phone {
  &::before {
    width: 15px;
    height: 15px;
    mask-image: url("../../icons/stack.svg#phone");
    background-color: $main-dark;
  }
}

.data-list__input {
  padding: 13px 15px;
  width: 100%;
  position: relative;
  font-family: $second-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $text-dark;
  border: 1px solid #e7e7e7;

  &::placeholder {
    color: $text-dark;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus-visible {
    border: 1px solid transparent;
    outline: 2px solid $text-dark;
  }

  &:not(:placeholder-shown):not(:focus-visible):invalid {
    border: 1px solid transparent;
    outline: 2px solid #ff8282;
  }
}

.data-list__input[type="number"] {
  appearance: none;
}
