$link-svg-color: #666666;

.footer__logo-link {
  @include link-basic;

  &:hover {
    opacity: 0.8;
  }

  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__copyright-link {
  display: block;
  max-width: 280px;
  font-size: 16px;
  line-height: 20px;
  color: $link-svg-color;
  text-decoration: none;

  &:hover {
    color: $button-basic;
  }

  &:focus-visible {
    color: $button-basic;
  }

  &:active {
    color: lighten($button-basic, 30%);
  }
}

.footer__copyright-text {
  color: $text-dark;
}
