.program-selection {
  overflow-x: hidden;
}

.program-selection__container {
  padding-top: 27px;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding: 0 80px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 45px 40px 80px;
  }
}

.program-selection__title {
  @include title-basic;

  margin-bottom: 37px;
  position: relative;

  @media (max-width: $mobile-width) {
    &::before {
      content: "";
      position: absolute;
      width: 100vw;
      transform: translateX(-50%);
      height: 1px;
      background-color: #d9d9d9;
      top: -27px;
      left: 50%;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    font-size: 60px;
    line-height: 60px;
  }
}

.program-selection__subtitle {
  @include title-basic;

  margin-bottom: 39px;
  width: 230px;
  font-size: 14px;
  line-height: 18px;
  font-family: $second-font;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
    width: 325px;
    font-size: 20px;
    line-height: 30px;
  }
}

.program-selection__group {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}

.program-selection__caption {
  @include title-basic;

  margin-bottom: 35px;
  font-size: 24px;
  line-height: 26px;

  width: fit-content;
  position: relative;
  background-color: $main-light;
  box-shadow: -20px 0 0 0 $main-light, 20px 0 0 0 $main-light;

  @media (max-width: $mobile-width) {
    &--width {
      width: 190px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 2px;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    background-color: $button-basic;

    @media (min-width: $tablet-width) {
      top: 14px;
    }

    @media (min-width: $desktop-width) {
      top: 20px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 2px;
    top: 16px;
    left: 50%;
    z-index: -1;
    background-color: $button-basic;

    @media (min-width: $tablet-width) {
      top: 14px;
    }

    @media (min-width: $desktop-width) {
      top: 20px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 36px;
    box-shadow: -40px 0 0 0 $main-light, 40px 0 0 0 $main-light;
  }
}

.program-selection__list {
  &--margin {
    margin-bottom: 24px;
  }

  position: relative;

  @media (max-width: $mobile-width) {
    &--line {
      padding: 22px 0 12px;

      &::before {
        content: "";
        position: absolute;
        width: 100vw;
        transform: translateX(-50%);
        height: 1px;
        background-color: #d9d9d9;
        top: -2px;
        left: 50%;
      }

      &::after {
        content: "";
        position: absolute;
        width: 100vw;
        transform: translateX(-50%);
        height: 1px;
        background-color: #d9d9d9;
        bottom: -4px;
        left: 50%;
      }
    }
  }

  @media (min-width: $tablet-width) {
    &--margin {
      margin-bottom: 72px;
    }

    &--line {
      padding: 23px 27px 27px;
      outline: 1px solid #e7e7e7;
    }

    &--grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 32px 123px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;

    &--grid {
      grid-column: 1/-1;
      grid-template-columns: repeat(4, 1fr);
      gap: 32px 90px;
    }
  }
}

.program-selection__comment {
  padding: 14px;
  width: 100%;
  height: 150px;
  font-family: $second-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  resize: none;
  border: 1px solid #e7e7e7;

  &::placeholder {
    color: #444444;
  }

  @media (min-width: $tablet-width) {
    height: 175px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 9px 20px;
    grid-column: 1/-1;
  }
}

.program-selection__box-btn {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    gap: 80px;
  }
}

.program-selection__btn {
  margin-bottom: 21px;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 14px;
    min-width: 284px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.program-selection__text {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}
