.program-selection__container {
  padding-top: 27px;
  padding-bottom: 32px;
}

.program-selection__title {
  @include title-basic;

  margin-bottom: 37px;
  position: relative;

  @media (max-width: $mobile-width) {
    &::before {
      content: "";
      position: absolute;
      width: 100vw;
      transform: translateX(-50%);
      height: 1px;
      background-color: #d9d9d9;
      top: -27px;
      left: 50%;
    }
  }
}

.program-selection__group {
  // outline: 2px solid salmon;

  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  border: none;
}

.program-selection__subtitle {
  margin-bottom: 39px;
  width: 230px;
  font-family: $second-font;
  text-transform: uppercase;
}

.program-selection__caption {
  @include title-basic;

  margin-bottom: 35px;
  font-size: 24px;
  line-height: 26px;

  width: fit-content;
  position: relative;
  background-color: $main-light;
  box-shadow: -20px 0 0 0 $main-light, 20px 0 0 0 $main-light;

  &--width {
    width: 190px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 2px;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    background-color: $button-basic;

    // @media (min-width: $tablet-width) {
    //   top: 14px;
    // }

    // @media (min-width: $desktop-width) {
    //   top: 20px;
    // }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 2px;
    top: 18px;
    left: 50%;
    z-index: -1;
    background-color: $button-basic;

    // @media (min-width: $tablet-width) {
    //   top: 14px;
    // }

    // @media (min-width: $desktop-width) {
    //   top: 20px;
    // }
  }
}

.program-selection__list {
  &--margin {
    margin-bottom: 24px;
  }

  position: relative;

  @media (max-width: $mobile-width) {
    &--line {
      padding: 22px 0 19px;

      &::before {
        content: "";
        position: absolute;
        width: 100vw;
        transform: translateX(-50%);
        height: 1px;
        background-color: #d9d9d9;
        top: 0;
        left: 50%;
      }

      &::after {
        content: "";
        position: absolute;
        width: 100vw;
        transform: translateX(-50%);
        height: 1px;
        background-color: #d9d9d9;
        bottom: 0;
        left: 50%;
      }
    }
  }
}

.program-selection__comment {
  padding: 14px;
  width: 100%;
  height: 150px;
  font-family: $second-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444;
  resize: none;
  border: 1px solid #e7e7e7;

  &::placeholder {
    color: #444;
  }
}

.program-selection__btn {
  margin-top: 8px;
  margin-bottom: 21px;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
}

.program-selection__text {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 16px;
}
